[Desktop Entry]
Name=Notes
Comment=Easily jot down invaluable thoughts & tasks
Exec=pinny
Icon=notes
Terminal=false
Type=Application
Categories=GTK;Utility;
Name[en_GB]=Pinny
